html {
    font-family: Open Sans, sans-serif;
    width: 100%;
}
body {
    margin: 0;
}
ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 64px;
}
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.87);
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}
ul li {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    height: 100%;
    line-height: 64px;
}
.li-1 {
    text-align: center;
    width: 25%;  
    margin: -3px;
}
.li-2 {
    text-align: center;
    width: 25%;
    margin: -3px;
}
.li-3 {
    text-align: center;
    width: 25%;
    margin: -3px;
}
.li-4 {
    text-align: center;
    width: 25%;
    margin: -3px;
}
li a:hover {
    background: rgba(209, 209, 209, 0.8);
    color: black;
}
li a:active {
    background: rgba(248, 248, 248, 0.8);
    text-decoration: underline;
    color: black;
}
div {
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    color: #FFFFFF;
    padding: 280px 0px;
    background-image: url(/image/background-1.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 747px;
    background-position: center;
}

